<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #6F35A5;
            margin: 0;
            color: white;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <p>Payment Initiation Failed @ Charify</p>
</body>
</html>
